
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #ff7e5f, #feb47b, #ff6a00);
    background-size: 400% 400%;
    animation: gradientAnimation 5s ease infinite;
    font-family: "Nunito" , sans-serif;
    
}

.welcome-container {
    text-align: center;
    color: white;
    padding: 20px;
    border-radius: 15px;
    
    
    animation: textAnimation 2s ease-in-out;
}


@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


h1 {
    font-size: 4rem;
    margin-bottom: 10px;
}


p {
    font-size: 1.5rem;
}
